<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="VisualStudio2013Professional" />
	<package id="vmwareplayer" />
	<package id="resharper" />
	<package id="visualfsharptools" />
	<package id="notepadplusplus" />
	<package id="SublimeText3.app" />
	<package id="GoogleChrome" />
	<package id="jing" />
	<package id="greenshot" />
	<package id="fiddler" />
	<package id="paint.net" />
	<package id="gotomeeting" />
	<package id="console2" />
	<package id="hipchat" />
	<package id="gimp" />
	<package id="git" />
	<package id="WebStorm" />
	<package id="powershell4" />
	<package id="nodejs" />
	<package id="ruby" />
	<package id="ruby2.devkit" />
	<package id="ruby1.9" />
	<package id="ruby.devkit.ruby193" />
	<package id="Firefox" />
	<package id="7zip" />
	<package id="python2" />
	<package id="jdk7" />
	<package id="jdk8" />
	<package id="poweriso" />
	<package id="FoxitReader" />
	<!-- Missing:
VMWare __?
SQL Dev 2014 ()
Office 2013
Cisco Anyconnect
	-->

	<!-- data:
VisualStudio2013Professional
vmwareplayer
resharper
visualfsharptools
notepadplusplus
SublimeText3.app
GoogleChrome
jing
greenshot
fiddler
paint.net
gotomeeting
console2
hipchat
gimp
git
WebStorm
powershell4
nodejs
ruby
ruby2.devkit
ruby1.9
ruby.devkit.ruby193
Firefox
7zip
python2
jdk7
jdk8
poweriso
FoxitReader
	-->
</packages>
